*
{
	margin: 0;
	padding:0;
}
/*.test{
width: 200px;
height: 40px;
background: lightgreen;
text-align: center;
border-radius: 50%;
}*/
.check{
display: none;
}
.custom-ck{
	display: inline-block;
	width: 64px;
	height: 64px;
	background: url(../img/sprite.png);
}
.check:checked ~ .custom-ck {
	background-position: 0px -64px;
}